*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
}
.title{
    margin: 155px auto 50px;
    text-align: center;
    width: 45%;
}
.title h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
    color: #9FA3A7;
}
.title h2{
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    color: #212121;
    margin-top: 18px;
}
.block{
    width: 255px;
    height: 290px;
    overflow: hidden;
}
.content{
    display: flex;
    justify-content: center;
}
.content .block > div{
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #9FA3A7;
    width: 185px;
    margin-left: auto;
}
.content .block h3{
     font-family: Montserrat;
     font-style: normal;
     font-weight: bold;
     font-size: 12px;
     line-height: 15px;
     text-align: center;
     letter-spacing: 2.4px;
     color: #212121;
     margin-bottom: 17px;

}
.content .block .popular{
    width: 99px;
    height: 24px;
    background: #8F76BC;
    border-radius: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 2.4px;
    color: #FFFFFF;
    margin: 0 auto 17px;
}
.popular img{
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
.popular span {
    vertical-align: sub;
}
button#button{
    width: 40px;
    height: 40px;
    border: 3px solid #FFC80A;
    border-radius: 50%;
    background: none;
    margin: 28px auto 0;
    display: block;
}
.content .block:not(:nth-child(2)){
    margin-top: 44px;
}
.content > div:nth-child(2) > img{
    margin: 44px 82px 4px 62px;
}
.border{
    border: 1px solid #E8E9ED;
    border-radius: 6px;
    width: 320px;
    margin-left: 68px;
    height: 454px;
}
.border > div{
    margin-right: auto;
}
#negative_margin{
    margin-bottom: -57px;
    margin-left: 35px;

}
